.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header{
    background-color: #FF742B;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header img{
    max-height: 40px;
    float: left;
}
.header .title{
    margin-top:0;
    border-bottom: 0 none;
    padding-left: 10px;
    float:left;
}

.header .searchField{
    width: 800px;
    padding-left: 20px;
    margin-left: 20px;
    float: left;
    margin-right: 20px;
}

.header .btn{
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
}